apiVersion: v1
kind: ConfigMap
metadata:
  name: gatus-config
data:
  config.yaml: |
    endpoints:
      - name: Jellyfin
        url: "http://jellyfin.apps.svc.cluster.local:8096/health"
        interval: 1m
        conditions:
          - "[STATUS] == 200"
          - "[BODY] == Healthy"
          - "[RESPONSE_TIME] < 1000"
    alerts:
      ntfy:
        topic: "gatus"
        url: "http://ntfy.apps.svc.cluster.local"
        priority: 2
