apiVersion: apps/v1
kind: Deployment
metadata:
  name: gatus
  labels:
    app: gatus
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gatus
  template:
    metadata:
      labels:
        app: gatus
    spec:
      containers:
      - name: gatus
        image: ghcr.io/twin/gatus:v5.34.0
        ports:
        - containerPort: 8080
        resources:
          limits:
            memory: "512Mi"
            cpu: "500m"
          requests:
            memory: "256Mi"
            cpu: "250m"
        volumeMounts:
        - name: gatus-config-volume
          mountPath: /config/config.yaml
          subPath: config.yaml
        - name: data
          mountPath: "/etc/gatus"
      volumes:
      - name: gatus-config-volume
        configMap:
          name: gatus-config
      - name: data
        persistentVolumeClaim:
          claimName: gatus-db