---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/grafana.integreatly.org/grafanadatasource_v1beta1.json
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: grafanadatasource-prometheus
spec:
  instanceSelector:
    matchLabels:
      grafana.internal/instance: grafana
  uid: prometheus
  datasource:
    name: Prometheus
    type: prometheus
    access: proxy
    basicAuth: false
    url: http://prometheus-operated.observability.svc.cluster.local:9090
    isDefault: true
    jsonData:
      timeInterval: "60s"
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/grafana.integreatly.org/grafanadatasource_v1beta1.json
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: grafanadatasource-alertmanager
spec:
  instanceSelector:
    matchLabels:
      grafana.internal/instance: grafana
  uid: alertmanager
  datasource:
    name: Alertmanager
    type: alertmanager
    access: proxy
    url: http://alertmanager-operated.observability.svc.cluster.local:9093
    jsonData:
      implementation: prometheus