---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jaegertracing
spec:
  interval: 15m
  chart:
    spec:
      chart: jaeger
      version: 4.3.4 
      sourceRef:
        kind: HelmRepository
        name: jaegertracing
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    provisionDataStore:
      cassandra: false
    storage:
      type: memory
    agent:
      enabled: false
    collector:
      enabled: false
    query:
      enabled: false
    allInOne:
      enabled: true
      ingress:
        enabled: true
        ingressClassName: traefik
        hosts:
          - jaeger.cloud.traunseenet.com
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
          cert-manager.io/cluster-issuer: "letsencrypt-prod"
        labels:
          app: jaeger
        tls:
          - secretName: jaeger-cert
            hosts:
              - jaeger.cloud.traunseenet.com