---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: paperless
  name: paperless
spec:
  replicas: 1
  selector:
    matchLabels:
      app: paperless
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: paperless
    spec:
      containers:
        - image: ghcr.io/paperless-ngx/paperless-ngx:2.20.8
          name: paperless
          ports:
            - containerPort: 8000
              protocol: TCP
          envFrom:
            - secretRef:
                name: paperless-secrets
            - configMapRef:
                name: paperless-config
          env:
            - name: PAPERLESS_DBUSER
              valueFrom:
                secretKeyRef:
                  name: paperless-pg-app
                  key: username
            - name: PAPERLESS_DBPASS
              valueFrom:
                secretKeyRef:
                  name: paperless-pg-app
                  key: password
          volumeMounts:
            - mountPath: /usr/src/paperless/data
              name: paperless-data
              subPath: data
            - mountPath: /usr/src/paperless/media
              name: paperless-data
              subPath: media
            - mountPath: /usr/src/paperless/export
              name: paperless-data
              subPath: export
            - mountPath: /usr/src/paperless/consume
              name: paperless-data
              subPath: consume
      volumes:
        - name: paperless-data
          persistentVolumeClaim:
            claimName: paperless-data
