---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: paperless-pg
  annotations:
    cnpg.io/skipEmptyWalArchiveCheck: "enabled"
spec:
  instances: 1
  imageName: ghcr.io/cloudnative-pg/postgresql:17.6-system-trixie
  enableSuperuserAccess: true
  primaryUpdateStrategy: unsupervised
  externalClusters:
    - name: &name paperless-pg
      plugin:
        name: barman-cloud.cloudnative-pg.io
        parameters:
          barmanObjectName: *name
          serverName: *name
  plugins:
    - name: barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters:
        barmanObjectName: *name
        serverName: *name
  bootstrap:
    # initdb:
    #   database: paperless
    #   owner: paperless
    recovery:
      source: *name
      database: paperless
      owner: app
  storage:
    pvcTemplate:
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
          storage: 10Gi
      storageClassName: tns-csi-nvmeof
      volumeMode: Filesystem
  managed:
    services:
      disabledDefaultServices: ["ro", "r"]
---
apiVersion: barmancloud.cnpg.io/v1
kind: ObjectStore
metadata:
  name: paperless-pg
spec:
  retentionPolicy: 20d
  configuration:
    destinationPath: s3://cnpg-backups/paperless
    endpointURL: http://10.0.0.107:9000
    s3Credentials:
      accessKeyId:
        name: minio-paperless-pg-backup
        key: AWS_ACCESS_KEY_ID
      secretAccessKey:
        name: minio-paperless-pg-backup
        key: AWS_SECRET_ACCESS_KEY
    data:
      compression: bzip2
    wal:
      compression: bzip2
      maxParallel: 8
---
apiVersion: postgresql.cnpg.io/v1
kind: ScheduledBackup
metadata:
  name: paperless-pg-backup
spec:
  schedule: "0 */6 * * *"
  backupOwnerReference: self
  cluster:
    name: paperless-pg
  method: plugin
  pluginConfiguration:
    name: barman-cloud.cloudnative-pg.io
