[openshell]
version = 1

[openshell.gateway]
bind_address    = "{{ openshell_bind_address }}"
compute_drivers = ["{{ openshell_compute_driver }}"]
disable_tls     = false
log_level       = "info"

[openshell.gateway.gateway_jwt]
signing_key_path = "{{ openshell_pki_dir }}/jwt/signing.pem"
public_key_path  = "{{ openshell_pki_dir }}/jwt/public.pem"
kid_path         = "{{ openshell_pki_dir }}/jwt/kid"
gateway_id       = "{{ openshell_gateway_id }}"
ttl_secs         = 3600

{% if openshell_compute_driver == 'vm' %}
[openshell.drivers.vm]
grpc_endpoint       = "{{ openshell_grpc_endpoint }}"
driver_dir          = "{{ openshell_libexec_dir }}"
state_dir           = "{{ openshell_state_dir }}/vm"
default_image       = "{{ openshell_default_image }}"
guest_tls_ca        = "{{ openshell_pki_dir }}/ca.crt"
guest_tls_cert      = "{{ openshell_pki_dir }}/client/tls.crt"
guest_tls_key       = "{{ openshell_pki_dir }}/client/tls.key"
vcpus               = {{ openshell_vm_vcpus }}
mem_mib             = {{ openshell_vm_mem_mib }}
overlay_disk_mib    = {{ openshell_vm_overlay_disk_mib }}
{% elif openshell_compute_driver == 'podman' %}
[openshell.drivers.podman]
grpc_endpoint    = "{{ openshell_grpc_endpoint }}"
default_image    = "{{ openshell_default_image }}"
supervisor_image = "{{ openshell_supervisor_image }}"
network_name     = "{{ openshell_podman_network }}"
guest_tls_ca     = "{{ openshell_pki_dir }}/ca.crt"
guest_tls_cert   = "{{ openshell_pki_dir }}/client/tls.crt"
guest_tls_key    = "{{ openshell_pki_dir }}/client/tls.key"
{% elif openshell_compute_driver == 'docker' %}
[openshell.drivers.docker]
grpc_endpoint    = "{{ openshell_grpc_endpoint }}"
default_image    = "{{ openshell_default_image }}"
supervisor_image = "{{ openshell_supervisor_image }}"
guest_tls_ca     = "{{ openshell_pki_dir }}/ca.crt"
guest_tls_cert   = "{{ openshell_pki_dir }}/client/tls.crt"
guest_tls_key    = "{{ openshell_pki_dir }}/client/tls.key"
{% endif %}
