apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: k8s-newt-egress-policy
spec:
  podSelector:
    matchLabels:
      app: k8s-newt
  policyTypes:
    - Egress
  egress:
    # Allow access to apps namespace
    - to:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: apps
    - to:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: observability
          podSelector:
            matchLabels:
              app: grafana
    # Allow access to harbor
    - to:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: storage
          podSelector:
            matchLabels:
              app: harbor
      ports:
        - protocol: TCP
          port: 8080
    # Allow access to minio
    - to:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: storage
          podSelector:
            matchLabels:
              app: minio
      ports:
        - protocol: TCP
          port: 9000
        - protocol: TCP
          port: 9001
    # Allow access to pangolin https & udp ports
    - to:
        - ipBlock:
            cidr: 116.203.125.9/32
      ports:
        - protocol: TCP
          port: 443
        - protocol: UDP
          port: 51820
        - protocol: UDP
          port: 21820
    # Allow kube-dns
    - to:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: kube-system
          podSelector:
            matchLabels:
              k8s-app: kube-dns
      ports:
        - protocol: UDP
          port: 53
        - protocol: TCP
          port: 53