---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: newt
spec:
  interval: 15m
  chart:
    spec:
      chart: newt
      version: v37.2.0
      sourceRef:
        kind: HelmRepository
        name: fossorial
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    newtInstances:
    - name: main-tunnel
      auth:
        existingSecretName: newt-auth
        keys:
          endpointKey: PANGOLIN_ENDPOINT
          idKey: NEWT_ID
          secretKey: NEWT_SECRET
