---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: karakeep-meilisearch
  labels:
    app: karakeep-meilisearch
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: karakeep-meilisearch
  template:
    metadata:
      labels:
        app: karakeep-meilisearch
    spec:
      containers:
      - name: meilisearch
        image: getmeili/meilisearch:v1.35.1
        ports:
        - containerPort: 7700
          name: http
        envFrom:
        - secretRef:
            name: karakeep-secrets
        env:
        - name: MEILI_NO_ANALYTICS
          value: "true"
        volumeMounts:
        - name: meillisearch-data
          mountPath: /meili_data
          subPath: meilisearch
      volumes:
      - name: meillisearch-data
        nfs:
          path: /mnt/nvmepool/kubernetes/karakeep
          server: 10.0.0.154
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: karakeep-chrome
  labels:
    app: karakeep-chrome
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: karakeep-chrome
  template:
    metadata:
      labels:
        app: karakeep-chrome
    spec:
      containers:
      - name: chrome
        image: gcr.io/zenika-hub/alpine-chrome:124
        ports:
        - containerPort: 9222
          name: http
        args:
        - --no-sandbox
        - --disable-gpu
        - --disable-dev-shm-usage
        - --remote-debugging-address=0.0.0.0
        - --remote-debugging-port=9222
        - --hide-scrollbars
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: karakeep
  labels:
    app: karakeep
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: karakeep
  template:
    metadata:
      labels:
        app: karakeep
    spec:
      containers:
      - name: karakeep
        image: ghcr.io/karakeep-app/karakeep:release
        ports:
        - containerPort: 3000
          name: http
        envFrom:
        - secretRef:
            name: karakeep-secrets
        env:
        - name: MEILI_ADDR
          value: http://karakeep-meilisearch:7700
        - name: BROWSER_WEB_URL
          value: http://karakeep-chrome:9222
        - name: DATA_DIR
          value: /data
        - name: NEXTAUTH_URL
          value: https://karakeep.cloud.traunseenet.com
        volumeMounts:
        - mountPath: /data
          name: karakeep-data
          subPath: karakeep
      volumes:
      - name: karakeep-data
        nfs:
          path: /mnt/nvmepool/kubernetes/karakeep
          server: 10.0.0.154
