---
apiVersion: v1
kind: Service
metadata:
  name: karakeep-meilisearch
  labels:
    app: karakeep-meilisearch
spec:
  type: ClusterIP
  ports:
  - port: 7700
    targetPort: 7700
    protocol: TCP
    name: http
  selector:
    app: karakeep-meilisearch
---
apiVersion: v1
kind: Service
metadata:
  name: karakeep-chrome
  labels:
    app: karakeep-chrome
spec:
  type: ClusterIP
  ports:
  - port: 9222
    targetPort: 9222
    protocol: TCP
    name: http
  selector:
    app: karakeep-chrome
---
apiVersion: v1
kind: Service
metadata:
  name: karakeep
  labels:
    app: karakeep
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: karakeep
