apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tns-csi
spec:
  interval: 45m
  chartRef:
    kind: OCIRepository
    name: tns-csi
    namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    namespace: storage
    # image:
    # tag: "0.8.1"
    truenas:
    # Your TrueNAS server configuration
      existingSecret: "tns-csi-secret"
      port: 443
      skipTLSVerify: true
    # Volume Snapshot Class config
    snapshots:
      enabled: true
      detached:
        enabled: true
        # Optional: specify parent dataset for detached snapshots
        # If not set, defaults to {pool}/csi-detached-snapshots
        parentDataset: "nvmepool/tns-csi/snapshots"
        deletionPolicy: Delete
    # Storage class configuration - NVMe-oF
    storageClasses:
      - name: tns-csi-nvmeof
        protocol: nvmeof
        enabled: true
        pool: "nvmepool"
        parentDataset: "nvmepool/tns-csi/pod-volume"
        server: "10.0.0.154"
        transport: "tcp"
        port: "4420"