cluster-init: true
disable-cloud-controller: true
disable:
  - rke2-ingress-nginx
tls-san:
{% for ip in rke2_extra_tls_san | default([]) %}
  - "{{ ip }}"
{% endfor %}
{% for host in all_ansible_hosts %}
  - "{{ host }}"
{% endfor %}
node-ip: "{{ ansible_host }}"
advertise-address: "{{ ansible_host }}"
