---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: open-webui
  name: open-webui
spec:
  type: ClusterIP
  ports:
    - name: open-webui
      port: 8080
      protocol: TCP
      targetPort: 8080
  selector:
    app: openwebui