apiVersion: v1
kind: ConfigMap
metadata:
  name: pangolin-proxy-haproxy
data:
  haproxy.cfg: |
    global
      log stdout format raw local0

    defaults
      log global
      mode tcp
      timeout connect 5s
      timeout client 30s
      timeout server 30s

    frontend csm_metrics
      bind *:6060
      default_backend csm_backend

    backend csm_backend
      server csm csm.internal:6060
